
*.bak
/AudioAnalysis/.spyproject/config
/AudioAnalysis/__pycache__
/AudioClusteringInteractive/.spyproject
/AudioClusteringInteractive/__pycache__
/AudioClusteringV2/.spyproject
/AudioClusteringV2/__pycache__
/MocapPlayer/.spyproject
/MocapPlayer/__pycache__
/MocapPlayer/common/__pycache__
/MotionClusteringInteractive/.spyproject/config
/MotionClusteringInteractive/__pycache__
/MotionClusteringInteractive/common/__pycache__
/MotionContinuation/rnn/.spyproject
/MotionContinuation/rnn/common/__pycache__
/MotionContinuation/rnn_interactive/.spyproject
/MotionContinuation/rnn_interactive/__pycache__
/MotionContinuation/rnn_interactive/common/__pycache__
/MotionTransformation/vae-rnn/.spyproject
/MotionTransformation/vae-rnn/common/__pycache__
/MotionTransformation/vae-rnn_interactive/.spyproject
/MotionTransformation/vae-rnn_interactive/__pycache__
/MotionTransformation/vae-rnn_interactive/common/__pycache__
/MotionContinuation/rnn_interactive_v2/.spyproject
/MotionContinuation/rnn_interactive_v2/__pycache__
/MotionContinuation/rnn_interactive_v2/common/__pycache__
/MotionContinuation/rnn_interactive_v3/.spyproject
/MotionContinuation/rnn_interactive_v3/__pycache__
/MotionContinuation/rnn_interactive_v3/common/__pycache__
/RayMarching/__pycache__
/RayMarching_v2/.spyproject
/RayMarching_v2/__pycache__
/RayMarching_v2/common/__pycache__
/Data/audio
/SphericalSoundfilePlayer_v1_13_Win/ofxDabBase/example/obj
/SphericalSoundfilePlayer_v1_13_Win/obj
/SphericalSoundfilePlayer_v1_13_Win/.vs
SphericalSoundfilePlayer_v1_13_Win/SphericalSoundfilePlayer_v1_13_Win.sln
SphericalSoundfilePlayer_v1_13_Win/SphericalSoundfilePlayer_v1_13_Win.vcxproj
SphericalSoundfilePlayer_v1_13_Win/SphericalSoundfilePlayer_v1_13_Win.vcxproj.filters
SphericalSoundfilePlayer_v1_13_Win/SphericalSoundfilePlayer_v1_13_Win.vcxproj.user
/SphericalSoundfilePlayer_v1_13_Win/bin/data/003
